
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class ="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
                Find Jobs
            </a>
            <a class="navbar-brand" href="{%url 'Users:signup' %}">
                Signup
            </a>
            <a class="navbar-brand" href="{%url 'Jobs:job_post' %}">
                Post a Job
            </a>
            <a id="view_jobs_btn" class="navbar-brand" href="#">
                View All Jobs
            </a>

           
            {%if user.is_authenticated %}
            <a id ="logout_button"class="navbar-brand" href="{% url 'Users:logout' %}">Logout</a>
                
            </a>
            {% else %}
            <a class="navbar-brand" href="{% url 'Users:login' %}">
                Login
            </a>
            {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </div>
</div>  
</nav>  

    


