{%extends 'base.html' %}
{%load static %}
{% block content %}
<div class="text-center">
<h1>APPLY</h1>
</div>
<form id="registerForm" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
    </div>

    <div class="form-group">
    <label for="resume">Select a file:</label>
    <input type="file" id="resume" name="myfile">
    </div>
    <div>
        <button  id="submit_apply"type=submit>Apply</button>
    </div>

</form>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'apply_job.js' %}"></script>
{% endblock %}