{%extends 'base.html' %}
{%load static %}
{% block content %}
<div class="text-center">
<h1>APPLY</h1>
</div>
<form id="applyForm" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <input type="hidden" id="applicant_id"  value="{{applicant_id}}">
    <input type="hidden" id="job_id"  value="{{jobs.id}}">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
    </div>

    <div class="form-group">
        <label for="cover_letter">Cover Letter</label>
        <textarea  class="form-control" id="cover_letter" placeholder="Cover Letter"></textarea>
    </div>
    <div class="form-group">
        <label for="resume">Resume</label>
        <input type="file"  id="resume">
    </div>

    <div>
        <button  id="submit_apply"type=submit>Apply</button>
    </div>

</form>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'apply_job.js' %}"></script>
{% endblock %}