{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}




{% block content %}

<h1>Post a Job</h1>
<form id="post_jobForm" novalidate>
    {% csrf_token %}
    <input type="hidden" id="userID"  value="">
    <div class="form-group">
        <label for="job_title">Job_title</label>
        <input type="text" class="form-control" id="job_title" placeholder="Enter Job Title">
    </div>
    <div class="form-group">
        <label for="job_description">Job_Description</label>
        <input type="text" class="form-control" id="job_description" placeholder="Job Description">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" placeholder="Location">
    </div>
    <div class="form-group">
        <label for="salary_range">Salary Range</label>
        <input type="number" class="form-control" id="salary_range" placeholder="Salary Range" min="1" max="900000">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category">
            <option value="Computer">Computer</option>
            <option value="Finance" selected>Finance </option>
            <option value="Entertainment">Entertainment</option>
           
        </select>
    </div>
    <button id ="post_job_btn" type=submit>Post</button>        
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'post_job.js' %}"></script>
{% endblock %}

