{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}




{% block content %}

<h1>signup</h1>
<div id="success_div"></div>
<div id="failed_div"></div>
<form id="registerForm" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" id="password2" placeholder="Password">
        <small class="form-text text-muted">Confirm your Password</small>
    </div>
    <div class="form-group">
        <label for="user_type">Employer</label>
        <input type="checkbox" id="employer_check" name="employer_check">
    </div>
    <div class="form-group">
        <label for="user_type">Employee</label>
        <input type="checkbox" id="employee_check" name="employee_check">
    </div>
    <button class="btn btn-success" id ="register_btn" type=submit> Save</button>        
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'signup.js' %}"></script>
{% endblock %}

